.legend-color-mt1 { background-color: #3b82f6; }
.legend-color-mt2 { background-color: #6366f1; }
.legend-color-bt { background-color: #10b981; }
.legend-color-ramais { background-color: #f59e0b; }
.legend-color-wind { background-color: #94a3b8; }
.legend-color-result { background-color: #ef4444; }
